<a href="https://colab.research.google.com/github/bibekuchiha/EDA/blob/master/Page%20Funnel%20Visit/page_funnel_visit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Page Visits Funnel
Cool T-Shirts Inc. has asked to analyze data on visits to their website. Our job is to build a funnel, which is a description of how many people continue to the next step of a multi-step process.

In this case, our funnel is going to describe the following process:


* A user visits CoolTShirts.com

*  A user adds a t-shirt to their cart


*  A user clicks “checkout”

*  A user actually purchases a t-shirt

In [5]:
#importing libraries and dataset
import pandas as pd

visits = pd.read_csv('visits.csv', parse_dates=[1])

cart = pd.read_csv('cart.csv',parse_dates=[1])
                   
checkout = pd.read_csv('checkout.csv', parse_dates=[1])
                       
purchase = pd.read_csv('purchase.csv', parse_dates=[1])

Inspect the DataFrames using print and head:

1. cart lists all of the users who have added a t-shirt to their cart
2.   checkout lists all of the users who have started the checkout
3.   purchase lists all of the users who have purchased a t-shirt
4. visits lists all of the users who have visited the website

In [6]:
print(visits.head())
print(cart.head())
print(checkout.head())
print(purchase.head())

                                user_id          visit_time
0  943647ef-3682-4750-a2e1-918ba6f16188 2017-04-07 15:14:00
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2 2017-01-26 14:24:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1 2017-08-20 08:23:00
3  6879527e-c5a6-4d14-b2da-50b85212b0ab 2017-11-04 18:15:00
4  a84327ff-5daa-4ba1-b789-d5b4caf81e96 2017-02-27 11:25:00
                                user_id           cart_time
0  2be90e7c-9cca-44e0-bcc5-124b945ff168 2017-11-07 20:45:00
1  4397f73f-1da3-4ab3-91af-762792e25973 2017-05-27 01:35:00
2  a9db3d4b-0a0a-4398-a55a-ebb2c7adf663 2017-03-04 10:38:00
3  b594862a-36c5-47d5-b818-6e9512b939b3 2017-09-27 08:22:00
4  a68a16e2-94f0-4ce8-8ce3-784af0bbb974 2017-07-26 15:48:00
                                user_id       checkout_time
0  d33bdc47-4afa-45bc-b4e4-dbe948e34c0d 2017-06-25 09:29:00
1  4ac186f0-9954-4fea-8a27-c081e428e34e 2017-04-07 20:11:00
2  3c9c78a7-124a-4b77-8d2e-e1926e011e7d 2017-07-13 11:38:00
3  89fe330a-8966-4756-8f7c-3bdbcd47279a 2017-04-20 16:15:00
4  3ccdaf69-2d30-40de-b083-51372881aedd 2017-01-08 20:52:00
                                user_id       purchase_time
0  4b44ace4-2721-47a0-b24b-15fbfa2abf85 2017-05-11 04:25:00
1  02e684ae-a448-408f-a9ff-dcb4a5c99aac 2017-09-05 08:45:00
2  4b4bc391-749e-4b90-ab8f-4f6e3c84d6dc 2017-11-20 20:49:00
3  a5dbb25f-3c36-4103-9030-9f7c6241cd8d 2017-01-22 15:18:00
4  46a3186d-7f5a-4ab9-87af-84d05bfd4867 2017-06-11 11:32:00

In [7]:
#Combine visits and cart using a left merge.
df_visits_cart = pd.merge(visits, cart, how='left')
print(df_visits_cart)

                                   user_id  ...           cart_time
0     943647ef-3682-4750-a2e1-918ba6f16188  ...                 NaT
1     0c3a3dd0-fb64-4eac-bf84-ba069ce409f2  ... 2017-01-26 14:44:00
2     6e0b2d60-4027-4d9a-babd-0e7d40859fb1  ... 2017-08-20 08:31:00
3     6e0b2d60-4027-4d9a-babd-0e7d40859fb1  ... 2017-08-20 08:49:00
4     6879527e-c5a6-4d14-b2da-50b85212b0ab  ...                 NaT
...                                    ...  ...                 ...
2047  33913ac2-03da-45ae-8fc3-fea39df827c6  ...                 NaT
2048  4f850132-b99d-4623-80e6-6e61d003577e  ...                 NaT
2049  f0830b9b-1f5c-4e74-b63d-3f847cc6ce70  ...                 NaT
2050  b01bffa7-63ba-4cd3-9d93-eb1477c23831  ...                 NaT
2051  0336ca81-8d68-443f-9248-ac0b8ad147d5  ...                 NaT

[2052 rows x 3 columns]

In [8]:
#length is a merged DataFrame
print(len(df_visits_cart))

2052

In [9]:
#How many of the timestamps are null for the column cart_time?
null_in_cart = df_visits_cart[df_visits_cart['cart_time'].isnull()]
cart_null = len(null_in_cart)
print(cart_null)

1652

In [10]:
#What percent of users who visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart?

percentage_not_buying = 1.0 * (cart_null)/(len(df_visits_cart)) *100
print('{0} percent of users visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart'.format(percentage_not_buying))

80.50682261208577 percent of users visited Cool T-Shirts Inc. ended up not placing a t-shirt in their cart

In [11]:
#What percentage of users put items in their cart, but did not proceed to checkout?
df_cart_checkout = pd.merge(cart,checkout, how='left')
null_in_checkout = df_cart_checkout[df_cart_checkout['checkout_time'].isnull()]
checkout_null = len(null_in_checkout)
print(checkout_null)
percentage_cart_not_buy = 1.0 *(checkout_null)/(len(df_cart_checkout))*100
print(str(percentage_cart_not_buy)+" percentage of users put items in their cart, but did not proceed to checkout")

126
20.930232558139537 percentage of users put items in their cart, but did not proceed to checkout

In [12]:
#Merge all four steps of the funnel, in order, using a series of left merges. Save the results to the variable all_data.
all_data = visits.merge(cart, how='left').merge(checkout, how='left').merge(purchase, how='left')
print(all_data.head())

                                user_id  ...       purchase_time
0  943647ef-3682-4750-a2e1-918ba6f16188  ...                 NaT
1  0c3a3dd0-fb64-4eac-bf84-ba069ce409f2  ... 2017-01-26 15:08:00
2  6e0b2d60-4027-4d9a-babd-0e7d40859fb1  ...                 NaT
3  6e0b2d60-4027-4d9a-babd-0e7d40859fb1  ...                 NaT
4  6879527e-c5a6-4d14-b2da-50b85212b0ab  ...                 NaT

[5 rows x 5 columns]

In [13]:
#What percentage of users proceeded to checkout, but did not purchase a t-shirt?
df_checkout_purchase = pd.merge(checkout,purchase, how='left')
#print(df_cart_purchase)

print(len(df_checkout_purchase))

null_in_purchase = df_checkout_purchase[df_checkout_purchase['purchase_time'].isnull()]
purchase_null = len(null_in_purchase)

percentage_not_purchase = 1.0 *(purchase_null)/(len(df_checkout_purchase)) * 100
print(str(percentage_not_purchase)+" percentage of users proceeded to checkout, but did not purchase a t-shirt.")

598
16.88963210702341 percentage of users proceeded to checkout, but did not purchase a t-shirt.

In [14]:
#Using the giant merged DataFrame all_data that you created, let’s calculate the average time from initial visit to final purchase.
all_data['time_to_purchase'] = \
    all_data.purchase_time - \
    all_data.visit_time

In [15]:
print(all_data.time_to_purchase)

0           NaT
1      00:44:00
2           NaT
3           NaT
4           NaT
         ...
2589        NaT
2590        NaT
2591        NaT
2592        NaT
2593        NaT
Name: time_to_purchase, Length: 2594, dtype: timedelta64[ns]

In [16]:
#Calculate the average time to purchase
print(all_data.time_to_purchase.mean())

0 days 00:44:02.672413